<!DOCTYPE html>
<html>
<head>
    <title>db test</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>PC Name</th>
                <th>Username</th>
                <th>PC Power</th>
                <th>PC Share</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
